#projectsec
{
    height: 100%;
    width: auto;
}


#prohead
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:start;
    color: cornflowerblue;
}





#proj3img {
    border-radius: 0px;
  }
  
#proj2img 
{
    border-radius: 0px;
}
  
#proj1img 
{
    border-radius: 0px;
}


